@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #DF8E4B #EBE6E2;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #ebe6e2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ebe6e2;
}

*::-webkit-scrollbar-track:active {
  background-color: #ebe6e2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #df8e4b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ce8345;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ce8345;
}
